{% extends "::base.html.twig" %}

{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}

{% block title %}AppBundle:Task:new{% endblock %}

{% block body %}
    <h1>Welcome to the Task:new page</h1>


    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
{% endblock %}
